@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

body {
  background-image: url("../public/stars.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #000
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
